// SCSS variables

$defaultFont: Raleway,Arial,sans-serif;
$defaultFontSize: 1em;
$spritePath: "../images/sprite/Sprite.png";



// General

* {
    font-family: $defaultFont;
    font-size: $defaultFontSize;
}

h1 {
    font-size: $defaultFontSize * 1.5;
}

.font-weight--900 {
    font-weight: 900;
}



// Container

.container {
    padding: 0;
}

#logo-main {
    width: 52px;
    height: 52px;
    margin: 1em 1em 1em 2.3em;
    background: url($spritePath);
    background-position: 0 -64;
    background-repeat: no-repeat;
    zoom: 1.5;
}



// Navbar

.navbar {
    padding: 1em 2em 1em 2em !important;
}

.navbar-brand {
    width: 148px;
    height: 21px;
    background: url("../images/sprite/Sprite.png");
    background-position: -58 -80;
    background-repeat: no-repeat;
    zoom: 0.9;
}



// Section

section {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;    
}



// Title

.title {
    padding-top: 1.5em;
    padding-bottom: 1em;
}



// Gallery filter

%activeFocus {
    background-color: #BFBFBF;
    color: white;        
}

#gallery__filter {

    & a {
        padding: 0.2em 1em 0.2em 1em;
        background-color: white;
        color: #BFBFBF;
    }
    & .selected {
        @extend %activeFocus;
    }
    
    & a:focus {
        @extend %activeFocus;
    }
}


// Gallery

.gallery img {
    width: 100%;
}

.gallery__gallery-item--hover figure {
    overflow: hidden;

    & img {
        transform: scale(1);
        transition: .3s ease-in-out;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

.gallery__price-text {
    position: absolute;
    left: 1em;
    top: 1.6em;  
    transform: rotate(-5.3deg);
    font-size: $defaultFontSize * 0.6;
    color: white;
}

.gallery__price-value {
    position: absolute;
    left: 0.4em;
    top: 0.6em;  
    transform: rotate(-5.3deg);
    font-size: $defaultFontSize * 1.8;
    font-weight: 900;
    color: white;
}

.gallery__variant-1 {
    overflow: hidden;
    position: absolute;
    right: 1.5em;
    bottom: 2em;  
    width: 10em;
}

.gallery__variant-2 {
    overflow: hidden; 
    width: 10em;
    position: absolute;
    left: 1.5em;
    top: 1.75em;
    padding: 2em 1em 2em 1em;
    font-size: $defaultFontSize *1.2;
    line-height: 1.25em;
    background: #4F4E4E;
    color: white;
    opacity: 0.94;
    & p {
        margin: 0;
    }
}

// Footer

footer {
    padding: 1em 2em 0.2em 2em;
    background-color: #BFBFBF;
    color: white;
    & a:link {
        color: white;
    } 
    & hr {
        margin: 0.5em -2em 0.5em -2em;
        border-color: #4F4E4E;
        opacity: 0.2
    }
}

#logo-small {
    width: 206px;
    height: 52px;
    margin-top: 0.5em;
    background: url($spritePath);
    background-position: 0 -64;
    background-repeat: no-repeat;
    zoom: 0.6;  
}

#disclaimer {
    padding-top: 3em;
    padding-bottom: 0;
    font-size: $defaultFontSize *0.6;
}