// Required
//@import "node_modules/bootstrap/scss/functions";
//@import "node_modules/bootstrap/scss/variables";
//@import "node_modules/bootstrap/scss/mixins";

// Optional
//@import "node_modules/bootstrap/scss/grid";

$default-font: Raleway,Arial,sans-serif;
$default-font-size: 1em;
$spritePath: "../images/sprite/Sprite.png";

// General

* {
    font-family: $default-font;
    font-size: $default-font-size;
  }

h1 {
    font-size: $default-font-size * 1.5;
}

// Container

.container {
    padding: 0;
}

#header__logo {
    width: 52px;
    height: 52px;
    background: url($spritePath);
    background-position: 0 -64;
    background-repeat: no-repeat;
    zoom: 1.5;
    margin: 1em 1em 1em 1.5em;
}

section {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;    
}

.section__title {
    padding-top: 1.5em;
    padding-bottom: 1em;
    &--fat {
    font-weight: 900;
    }
}

// Image gallery

.section__img-gallery-type1 {
}

.section__img-gallery-type2 {
    color: white;
    background: black;
    opacity: 0.7;
    width: 10em;
    max-height: 10em;
    overflow: hidden;
    position: absolute;
    left: 2em;
    top: 3em;
    padding: 1em;
    font-size: $default-font-size *1.2;
}

.section__img-gallery-type3 {
}

.section__img-gallery-type4 {
}

.font--fat {
    font-weight: 900;
}

// Footer

footer {
    background-color: #BFBFBF;
    color: white;
    font-size: $default-font-size *0.6;
    padding: 0.5em 2em 0.5em 2em;
}